{% load static %} 
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Your Password | cogofly </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="{% static 'auth/assets/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'auth/assets/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'auth/assets/fonts/flaticon/font/flaticon.css' %}">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'auth/assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'auth/assets/css/skins/default.css' %}">

</head>
<body id="top">
<div class="page_loader"></div>

<!-- Login 1 start -->
<div class="login-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-inner-form">
                    <div class="details">
                        <a href="">
                            <!-- <img src="assets/img/logos/logo-2.png" alt="logo"> -->
                        </a>
                        <h3>Reset your password</h3>
                        <form method="POST">
                            {% if form.non_field_errors %}
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi suscipit dolor maxime optio. Temporibus quo consequuntur sapiente quos fugit labore repellat id blanditiis totam! Quaerat aspernatur obcaecati deserunt adipisci. Maxime.
                            {% endif %}
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.password1|add_class:"input-text" }}
                                {% for error in form.password1.errors %}
                                    <p class="text-danger">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.password2|add_class:"input-text" }}
                                {% for error in form.password2.errors %}
                                    <p class="text-danger">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn-md btn-theme btn-block">Reset Password</button>
                            </div>
                        </form>
                    </div>
                    <div class="footer">
                        <span>Already a member? <a href="/accounts/login/">Login here</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login 1 end -->

<!-- External JS libraries -->
<script src="{% static 'auth/assets/js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'auth/assets/js/popper.min.js' %}"></script>
<script src="{% static 'auth/assets/js/bootstrap.min.js' %}"></script>
<!-- Custom JS Script -->

</body>
</html>