{% load static %} 
{% load widget_tweaks %}
{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password | cogofly </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="{% static 'auth/assets/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'auth/assets/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'auth/assets/fonts/flaticon/font/flaticon.css' %}">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'auth/assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'auth/assets/css/skins/default.css' %}">

</head>
<body id="top">
<div class="page_loader"></div>

<!-- Login 1 start -->
<div class="login-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-inner-form">
                    <div class="details">
                        <a href="">
                            <!-- <img src="assets/img/logos/logo-2.png" alt="logo"> -->
                        </a>
                        <h3>Recover your password</h3>
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.email|add_class:"input-text" }}
                                {% for error in form.email.errors %}
                                    <p class="text-danger">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn-md btn-theme btn-block">Send Me Email</button>
                            </div>
                        </form>
                        <ul class="social-list clearfix">
                            <li><a href="{% provider_login_url 'facebook' method='js_sdk' %}" class="facebook-bg"><i style="position: relative;top: 10px;" class="fa fa-facebook"></i></a></li>
                            <!-- <li><a href="" class="twitter-bg"><i style="position: relative;top: 10px;" class="fa fa-twitter"></i></a></li> --> 
                            <li><a href="{% provider_login_url 'amazon' %}" class="twitter-bg"><i style="position: relative;top: 10px;" class="fa fa-amazon"></i></a></li>
                            <li><a href="{% provider_login_url 'pinterest' %}" class="twitter-bg"><i style="position: relative;top: 10px;" class="fa fa-pinterest"></i></a></li>
                            <li><a href="{% provider_login_url 'google' %}" class="google-bg"><i style="position: relative;top: 10px;" class="fa fa-google-plus"></i></a></li>
                            <li><a href="{% provider_login_url 'linkedin_oauth2' %}" class="linkedin-bg"><i style="position: relative;top: 10px;" class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer">
                        <span>Already a member? <a href="/accounts/login/">Login here</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login 1 end -->

<!-- External JS libraries -->
<script src="{% static 'auth/assets/js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'auth/assets/js/popper.min.js' %}"></script>
<script src="{% static 'auth/assets/js/bootstrap.min.js' %}"></script>
<!-- Custom JS Script -->

</body>
</html>